@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.titulo{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: darkblue;
    padding: 10px;
}
.contenedorPrincipal{
    border: solid 3px; color: blue;
    margin: 50px;
    background-image: url(./img/foto.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center center;
    
}
.contenedorPrincipal{
    display: flex;
    flex-direction: row;
}
.contenedores{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    text-align: center;
    margin: 30px;
    padding: 5px;

}