@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.titulo{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: darkblue;
    padding: 10px;
}
.contenedorPrincipal{
    border: solid 3px; color: blue;
    margin: 10px;
    height: 70%;
    background-image: url(./img/foto.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center center;
    
}
.contenedorPrincipal{
    display: flex;
    flex-direction: row;
}
.contenedores{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    text-align: center;
    margin: 30px;
    padding: 5px;

}
.form-submit{
    font-family: 'Poppins', sans-serif;
    border: solid 1px blue;
    border-radius: 20px;
    background-color: blue;
    color: white;
    padding: 5px;
    margin: 5px;
}
.botones{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
    border: solid 3px color(blue);
    justify-content: center;
    padding: 5px;
    margin: 5px;


}
.botones button {
    font-family: 'Poppins', sans-serif;
    border: solid 1px blue;
    border-radius: 20px;
    background-color: blue;
    color: white;
    padding: 5px;
    margin: 5px;
}

.resultados{
    font-family: 'Poppins', sans-serif;
    border: 2px solid blue; 
    color: blue;
    margin: 10px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}
.mensaje {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
  
}

.ingreso, .gasto, .deuda, .balance, .proyecciones {
    margin-bottom: 10px;
}

.footer{
    font-family: 'Poppins', sans-serif;
    border: 2px solid blue; 
    background-color: blue;
    color: white;
    margin: 50px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}